<h1 class="title">Two-way data-binding</h1>
<div class="content" type="1">
  <ol>
    <li>
      <h4 class="sub-title">[(ngModel)]: Two-way binding</h4>
      <pre><code [highlight]="codeExample.twoWay"></code></pre>
      <div class="box">
        <!-- example -->
        <p>
          <label class="label" for="username">UserName:</label>
          <input class="input" #userInput [(ngModel)]="user.firstName" id="username" />
        </p>
        <p><b>input.value: </b>{{ userInput.value }}</p>
        <p><b>user.firstName: </b>{{ user?.firstName }}</p>
        <p><b>user: </b>{{ user | json }}</p>
        <p><button class="button is-link" (click)="user.firstName = user.firstName.toUpperCase()">Set firstName UpperCase</button></p>
        <p><button class="button is-link" (click)="user.firstName = 'Ivan'">Set firstName to 'Ivan'</button></p>

        <!-- example end  -->
      </div>
    </li>
    <li>
      <h4 class="sub-title">Two-way binding without ngModel</h4>
      <pre><code [highlight]="codeExample.twoWayWithValue"></code></pre>
      <div class="box">
        <!-- example -->
        <p>
          <label class="label" for="userLastName">User's Lastname:</label>
          <input #lastNameInput class="input" [value]="user.lastName" (input)="user.lastName = $event.target.value" id="userLastName" />
        </p>
        <p><b>input.value: </b>{{ lastNameInput.value }}</p>
        <p><b>user.lastName: </b>{{ user?.lastName }}</p>
        <p><b>user: </b>{{ user | json }}</p>
        <!-- example end  -->
      </div>
    </li>
    <li>
      <h4 class="sub-title">NgModelChange</h4>
      <pre><code [highlight]="codeExample.twoWayNgModelChange"></code></pre>
      <div class="box">
        <!-- example -->
        <p>
          <label class="label" for="userLastName">User's Lastname:</label>
          <input #lastNameInput class="input" [ngModel]="user.lastName" (ngModelChange)="user.lastName = $event" id="userLastName" />
        </p>
        <p><b>input.value: </b>{{ lastNameInput.value }}</p>
        <p><b>user.lastName: </b>{{ user?.lastName }}</p>
        <p><b>user: </b>{{ user | json }}</p>
        <!-- example end  -->
      </div>
    </li>

    <li>
      <h4>Radio</h4>
      <pre><code [highlight]="codeExample.radioBinding"></code></pre>
      <div classs="box">
        <div class="control">
          <label class="radio">
            <input [(ngModel)]="color" value="red" type="radio" />
            Red
          </label>
          <label class="radio">
            <input [(ngModel)]="color" value="blue" type="radio" />
            Blue
          </label>
          <label class="radio">
            <input [(ngModel)]="color" value="green" type="radio" />
            Green
          </label>
          <p [style.color]="color">Current color: {{ color }}</p>
        </div>
      </div>
    </li>
  </ol>
</div>

<!-- <button class="button active-toggler is-rounded is-link" (click)="toggleActive()">Toggle Active</button> -->
