<h1 class="title">Pipes</h1>
<h2 class="subtitle">&#123;exp | myPipe&#125;</h2>

<div class="content" type="1">
  <ol>
    <li>
      <!-- <h4 class="sub-title">[class.[className]]="expression"</h4> -->
      <div class="box">
        <em>Sort by</em>

        <p *ngFor="let prop of sortByProps">
          <label>
            <input type="radio" [(ngModel)]="sortByField" [value]="prop" />
            {{ prop }}
          </label>
        </p>
      </div>
      <ol>
        <li *ngFor="let user of users | usSort: sortByField">
          <div class="box">
            <b>{{ user.name }}</b>
            <p>email: {{ user.email }}</p>
          </div>
        </li>
      </ol>
    </li>
  </ol>

  <button class="button" (click)="addUser()">Add User</button>
</div>
